<script>
    function get_block_details(block_id) {
        var file_to_load = {
            "hss": "hss.html",
            "pdn_gw": "pdn_gw.html",
            "serving_gw": "serving_gw.html",
            "mme": "mme.html",
            "eNB": "eNB.html",
            "x2": "x2.html",
            "s1-mme": "s1-mme.html",
            "s11": "s11.html",
            "s6a": "s6a.html",
            "LTE": "LTE.html",
            "UDR": "UDR.html",
            "Ud": "Ud.html",
            "s1-u": "s1-u.html",
            "external_ip_network": "erternal_ip_network.html",
            "s5-s8": "s5-s8.html",
            "sgi": "sgi.html"
        }

        target_content = "assets/blocks/" + file_to_load[block_id]
        if (target_content == undefined) {
            return "assets/blocks/undefined.html"
        }

        return target_content
    }

    function handler(ev) {
        var target = $(ev.target);
        var elId = target.parent().attr('id');
        if( target.is("rect") ) {
           var content = get_block_details(elId)
           console.log('Block '+ elId +" content " + content);
           $("#details").load(content)
        }
    }
    $("rect").mouseenter(handler);

    function handler2(ev) {
        var target = $(ev.target);
        var elId = target.attr('id');
        if( target.is("polyline") ) {
           console.log('The mouse was over'+ elId );
           var content = get_block_details(elId)
           console.log('Block '+ elId +" content" + content);
           $("#details").load(content)
        }
    }
    $("polyline").mouseenter(handler2);

    function handler_text(ev) {
        var target = $(ev.target);
        var elId = target.parent().attr('id');
        if( target.is("ellipse")) {
           console.log('The mouse was over'+ elId );
           var content = get_block_details(elId)
           console.log('Block '+ elId +" content" + content);
           $("#details").load(content)
        }
    }
    $("ellipse").mouseenter(handler_text);
</script>