<script>
    function get_block_details(block_id) {
        var file_to_load = {
            "hss": "blocks/hss.html",
            "pdn_gw": "blocks/pdn_gw.html",
            //"serving_gw": "HSS",
            //"mme": "HSS",
            //"eNB": "HSS",
            //"x2": "HSS",
            //"s1-mme": "HSS",
            //"s11": "HSS",
            //"s6a": "HSS",
            //"LTE": "HSS",
            //"UDR": "HSS",
            //"Ud": "HSS",
            //"s1-u": "HSS",
            //"erternal_ip_network": "HSS",
            //"s5-s8": "HSS"
        }

        target_content = file_to_load[block_id]
        if (target_content == undefined) {
            return "blocks/undefined.html"
        }

        return target_content
    }

    function handler(ev) {
        var target = $(ev.target);
        var elId = target.parent().attr('id');
        if( target.is("rect") ) {
           var content = get_block_details(elId)
           console.log('Block '+ elId +" content " + content);
           $("#details").load(content)
        }
    }
    $("rect").mouseenter(handler);

    function handler2(ev) {
        var target = $(ev.target);
        var elId = target.attr('id');
        if( target.is("polyline") ) {
           console.log('The mouse was over'+ elId );
           var content = get_block_details(elId)
           console.log('Block '+ elId +" content" + content);
           $("#details").load(content)
        }
    }
    $("polyline").mouseenter(handler2);
</script>